{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Erro 400 - Solicitação Inválida</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/basalstyle/style.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
    <div class="header-frame header-frame-absolute row">
        <!-- Inclua o seu arquivo de navegação (nav.html) aqui se necessário -->
    </div>

    <div class="error-container text-align-center row desktop-12 min-h-15 padding-top-2 container">
        <h1>Erro 400</h1>
        <p>Solicitação Inválida</p>
        <a class="btn-basic btn-blue" href="/">Voltar à Página Principal</a>
    </div>
</body>
</html>
